.headerSection{
    padding-bottom: 130px!important;
    background-image: -webkit-linear-gradient(
        0deg
        , #2196f3 0%, #3074d4 60%, #3f51b5 100%);
        padding-bottom: 50px;
        position: relative;
        overflow: hidden;
}
.header{
    position: fixed;
    padding: 5px 0;
    z-index: 5;
    background-color: transparent;
}

.headerLogo{
    display: flex;
    justify-content: space-between;
    padding: 20px 0 20px 0;
    color: #e0f6ff;
}
.headerSection ul{
    list-style: none;
    display: flex;
    justify-content: right;
    align-items: center;
}
.headerSection ul li{
    display: inline;
    margin-left: 35px;
    cursor: pointer;
    color: #dce7e7;
    font-weight: 500;
    letter-spacing: 1px;
}
.headerSection ul li:hover{
    color: #e0ffff;
}

.dwnloadBtn{
    padding: 15px 20px;
    background-color: #fff;
    border: none;
    transition: .5s;
    border: 2px solid transparent;
    font-size: 16px;
    color: var(--green);
    border-radius: 10px;
    cursor: pointer;
}
.dwnloadBtn:hover{
    background-color: #ffab0f;
    color: #fff;
    transition: .5s;
    border: 2px solid #ffab0f;
}
.MobileMenuBar{
    font-size: 25px;
    color: #fff;
    display: none;
    position: relative;
}
.HeaderMenu{
    display: block;
    position: relative;
}
.header-banner{
    position: relative;
    top: 100px;
    z-index: 4;
}
.header-left-banner{
    width: 100%;
    height: 100%;
}
.header-right-banner{
    color: #fff;
    margin-top: 50px;
    padding: 50px;
    text-align: center;
}
.header-right-banner p{
    margin-top: 30px;
    letter-spacing: 1px;
}
.header-right-banner h1{
    margin-top: 10px;
    letter-spacing: 1px;
    font-weight: 500;
}
/* Support area */
.supportArea{
    margin: 100px 0;
}
.card{
    padding: 20px;
    text-align: center;
    transition: .5s;
}
.card:hover{
    box-shadow: -62px 22px 90px -90px #666, 62px 22px 90px -90px #666;
    background-color: #fff;
    transition: .5s;
    transform: scale(1.1);
}
.card img{
    margin: 20px;
}
.card h3{
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.card p{
    letter-spacing: 1px;
    font-family: roboto;
}

 /* screenShorts area */
.screenShorts{
    margin-top: 50px;
    text-align: center;
}
.screenShorts h2{
   font-size: 30px;
   font-weight: 500;
   font-family: 'Montserrat', sans-serif;
   letter-spacing: 1px;
   margin-bottom: 20px;
}
.screenShorts p{
    margin-bottom: 5px;
    color: lightslategray;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    font-size: 16px;
}

@media (max-width: 767px) {
    .header-right-banner{
        padding: 20px;
    }
}
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
    .headerLogo{
        width: 100%;
    }
    .MobileMenuBar{
        display: block;
    }
    .HeaderMenu{
        background-color: #eee9e9;
        display: none;
        position: absolute;
        left: 0;
        top: 80px;
        z-index: 1;
    }
    .headerSection ul li{
        display: block;
        margin: 10px;
        color: var(--black)!important;
        padding: 10px;
        font-size: 16px;
        background-color: #fff;
    }
    .headerSection ul li:hover{
        background-color: var(--blue);
    }
    .headerSection ul{
       display: block;
       justify-content: start;
    }
    .dwnloadBtn{
        width: 100%;
        border: none;
        padding: 0;
        border-radius: 0;
        transition: 0s;
        background-color: transparent;
        
    }
    .dwnloadBtn:hover{
        width: 100%;
        border: none;
        padding: 0;
        transition: 0s;
        background-color: transparent;
    }
}

@media (max-width: 767px) {
    .headerLogo{
        width: 100%;
    }
    .MobileMenuBar{
        display: block;
    }
    .HeaderMenu{
        background-color: #fff;
        display: none;
        position: absolute;
        left: 0;
        top: 80px;
    }
    .headerSection ul li{
        display: block;
        margin: 10px;
        color: var(--black);
        padding: 10px;
        font-size: 16px;
    }
    .headerSection ul li:hover{
        background-color: var(--blue);
    }
    .headerSection ul{
       display: block;
       justify-content: start;
    }
    .dwnloadBtn{
        width: 100%;
        border: none;
        padding: 0;
        border-radius: 0;
        transition: 0s;
        background-color: transparent;
        
    }
    .dwnloadBtn:hover{
        width: 100%;
        border: none;
        padding: 0;
        transition: 0s;
        background-color: transparent;
    }
}